.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main-card {
    margin-top:10%;
    height: 70vh;
    width: 900vh;
    text-align: center;
}

.normal-paragraph {
    text-align: left;    
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* Desktop screens */
.me-img {
    height: 550px;
    min-height: 550px; /* Avoid lazy loading ugliness */
    width: 534px;
    min-width: 550px; /* Avoid lazy loading ugliness */
}

@media (min-width: 992px) and (max-width: 1199px) {
    .me-img {
        height: 565px;
        width: 500px
    }
}

/* Awkward tablet vertical size */
@media (min-width: 768px) and (max-width: 991px) {
    .me-img {
        height: 605px;
        width: 522px;
    }
    #content-card {
        flex-direction:column !important
    }
    /* .flex-md-row {
        flex-direction:column !important
    } */
}

/* Mobile */
@media (max-width: 991px) {
    .me-img {
        height: 100%;
        width: 100%;
        overflow:hidden;
    }
    .normal-paragraph {
        text-align: left;    
        font-family: 'Roboto', sans-serif;
        width: 100%;
        margin: 0;
    }
}

h5 + p {
    margin-top: 4px;
}

p + p {
    margin-top: 30px;
}

.social-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0px;
    margin-top: 10%;
}

.social-svg {
    display: inline-block;
    margin: 3%;
}