<div class="container">
    <div class="card-body main-card">
        <div id="content-card" class="card flex-md-row" style="padding-left:0%">
            <img class="me-img card-body md-4" src="assets/me.jpg" align="left" />
            <div class="card-body d-flex flex-column">
                <!-- <h2>Hey</h2> -->
                <h1>Scott Murray</h1>
                <h5 class="text-muted">Software Engineer at IQVIA</h5>
                <p class="normal-paragraph">Welp, this is my website.</p>
                <p class="normal-paragraph">I'm a caffiene addict with far too many Raspberry PIs to be considered sane. When I'm not being a psychotic programmer or a borderline average musician, you can usually find me hanging around Auckland. </p>
                <p class="normal-paragraph"> The main plan for this website is to be a dumping ground for any projects I feel confident in sharing with you :)</p>
                <p class="normal-paragraph">I'm usually pretty responsive on most social media sites. Head to these links if you need to contact me</p>
                <ul class="social-list">
                    <li class="social-svg"><a href="https://github.com/scott-the-programmer"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" /></a></li>
                    <li class="social-svg"><a href="https://twitter.com/ScottProgrammer"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" /></a></li>
                    <li class="social-svg"><a href="https://www.instagram.com/shxppingtrxllxy/"><img height="40" width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/instagram.svg" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>