.cool-bg {
    /* https://digitalsynopsis.com/design/beautiful-color-ui-gradients-backgrounds/
    Awesome website for picking nice gradients */
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000046, #1CB5E0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000046, #1CB5E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 500px;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;

}

.fill { 
    min-height: 100%;
    height: 100%;
}



